{% extends "default/layout.html" %}
{% load static %}

{% block title %} WebÁruház {% endblock %}

{% block body %}
    <section class="page-section" id="termekek">
        <div class="text-center">
            <h2 class="section-title">WebÁruház</h2>
            <p class="section-subtitle">Csak az általunk használt prémium minőségű eszközöket forgalmazzuk!</p>
        </div>
        <label for="szuro">Kategória:</label>
        <select name="szuro" id="szuro">
            <option value="-1" {% if selected_category == -1 %}selected{% endif %}>Összes</option>
            {% for category in categories %}
                <option value="{{ category.name }}" {% if selected_category == category.id %}selected{% endif %}>{{ category.name }}</option>
            {% endfor %}
        </select>

        <div class="termekek">
            {% for product in products %}
                <div class="termek">
                    <div class="product-image" style="background-image: url('/media/{{ product.photo }}')"></div>
                        <a class="product-name" href="{% url 'product' product_name=product.name %}#termek"><h3>{{ product.name }}</h3></a>
                        <h2>{{ product.price }} FT</h2>
                    <a href="{% url 'add_to_cart' product_id=product.id quantity=1 %}" class="btn btn-primary">Kosárhoz adás</a>
                </div>
            {% endfor %}
        </div>
    </section>
    <a href="{% url 'cart' %}" id="cart-float">
        <i class="fa-solid fa-cart-shopping"></i>
    </a>
{% endblock %}

{% block scripts %}
    <script src="{% static 'default/shop.js' %}"></script>
{% endblock %}