{% extends "default/layout.html" %}
{% load static %}

{% block title %} WebÁruház {% endblock %}

{% block body %}
    <section class="page-section">
        <div class="text-center">
            <h2 class="section-title">WebÁruház</h2>
            <p class="section-subtitle">Csak az általunk használt prémium minőségű eszközöket forgalmazzuk!</p>
        </div>
        <label for="szuro">Kategória:</label>
        <select name="szuro" id="szuro">
            <option value="0">Összes</option>
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>

        <div class="termekek">
            {% for product in products %}
                <div class="termek">
                    <div class="product-image" style="background-image: url('/media/{{ product.photo }}')"></div>
                        <a class="product-name" href="{% url 'product' product_name=product.name %}"><h3>{{ product.name }}</h3></a>
                        <h2>{{ product.price }} FT</h2>
                    <a class="btn btn-primary">Kosárhoz adás</a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}