{% extends "default/layout.html" %}
{% load static %}

{% block title %} WebÁruház {% endblock %}

{% block body %}
    <h1>WebÁruház</h1>
    <div class="szuro-container">
        <select name="szuro" id="szuro">
            <option value="osszes">Összes</option>
            <option value="rt">Routerek</option>
            <option value="sw">Switchek</option>
            <option value="srv">Serverek</option>
        </select>
    </div>

    <div class="container">
        <section class="termekek">
            <div class="termek">
                <img src="termek.jpg" alt="Termék">
                <h3>Terméknév</h3>
                <h1>A termék ára</h1>
                <button onclick="window.location.href='termek.html';">Kosárhoz adás</button>
            </div>

            <div class="termek">
                <img src="termek.jpg" alt="Termék">
                <h3>Terméknév</h3>
                <h1>A termék ára</h1>
                <button onclick="window.location.href='termek.html';">Kosárhoz adás</button>
            </div>

            <div class="termek">
                <img src="termek.jpg" alt="Termék">
                <h3>Terméknév</h3>
                <h1>A termék ára</h1>
                <button onclick="window.location.href='termek.html';">Kosárhoz adás</button>            
            </div>

            <div class="termek">
                <img src="termek.jpg" alt="Termék">
                <h3>Terméknév</h3>
                <h1>A termék ára</h1>
                <button onclick="window.location.href='termek.html';">Kosárhoz adás</button>
            </div>

            <div class="termek">
                <img src="termek.jpg" alt="Termék">
                <h3>Terméknév</h3>
                <h1>A termék ára</h1>
                <button onclick="window.location.href='termek.html';">Kosárhoz adás</button>
            </div>

            <div class="termek">
                <img src="termek.jpg" alt="Termék">
                <h2>Terméknév</h2>
                <h1>A termék ára</h1>
                <button onclick="window.location.href='termek.html';">Kosárhoz adás</button>
            </div>

            <div class="termek">
                <img src="termek.jpg" alt="Termék">
                <h3>Terméknév</h3>
                <h1>A termék ára</h1>
                <button onclick="window.location.href='termek.html';">Kosárhoz adás</button>
            </div>

            <div class="termek">
                <img src="termek.jpg" alt="Termék">
                <h3>Terméknév</h3>
                <h1>A termék ára</h1>
                <button onclick="window.location.href='termek.html';">Kosárhoz adás</button>
            </div>

            <div class="termek">
                <img src="termek.jpg" alt="Termék">
                <h3>Terméknév</h3>
                <h1>A termék ára</h1>
                <button onclick="window.location.href='termek.html';">Kosárhoz adás</button>
            </div>

            <div class="termek">
                <img src="termek.jpg" alt="Termék">
                <h3>Terméknév</h3>
                <h1>A termék ára</h1>
                <button onclick="window.location.href='termek.html';">Kosárhoz adás</button>
            </div>

            <div class="termek">
                <img src="termek.jpg" alt="Termék">
                <h3>Terméknév</h3>
                <h1>A termék ára</h1>
                <button onclick="window.location.href='termek.html';">Kosárhoz adás</button>            
            </div>

            <div class="termek">
                <img src="termek.jpg" alt="Termék">
                <h3>Terméknév</h3>
                <h1>A termék ára</h1>
                <button onclick="window.location.href='termek.html';">Kosárhoz adás</button>
            </div>

            <div class="termek">
                <img src="termek.jpg" alt="Termék">
                <h3>Terméknév</h3>
                <h1>A termék ára</h1>
                <button onclick="window.location.href='termek.html';">Kosárhoz adás</button>
            </div>

            <div class="termek">
                <img src="termek.jpg" alt="Termék">
                <h2>Terméknév</h2>
                <h1>A termék ára</h1>
                <button onclick="window.location.href='termek.html';">Kosárhoz adás</button>
            </div>

            <div class="termek">
                <img src="termek.jpg" alt="Termék">
                <h3>Terméknév</h3>
                <h1>A termék ára</h1>
                <button onclick="window.location.href='termek.html';">Kosárhoz adás</button>
            </div>

            <div class="termek">
                <img src="termek.jpg" alt="Termék">
                <h3>Terméknév</h3>
                <h1>A termék ára</h1>
                <button onclick="window.location.href='termek.html';">Kosárhoz adás</button>
            </div>

        </section>
    </div>
{% endblock %}