{% extends "default/layout.html" %}
{% load static %}

{% block title %} Kapcsolat {% endblock %}

{% block body %}
    <section class="kapcs-banner page-section">
        <div class="text-center">
            <h2 class="section-title">Kapcsolat</h2>
            <p class="section-subtitle">Lépjen velünk kapcsolatba!</p>
        </div>
        <div class="section-cont">
            <div class="section-left">
                <h2>Elérhetőség</h2>
                <ul>
                    <li>Networktech-Solutions</li>
                    <li>Orgona utca 1.</li>
                    <li>Győr, 9006</li>
                    <li>Telefon: <a href="tel:1234567890">06 20 123 4567</a></li>
                    <li>Email: <a href="mailto:info@example.com">Networktech-Solutions@gmail.com</a></li>
                </ul>
            </div>
            <div class="section-right">
                <h2>Kapcsolati Űrlap</h2>
                <form action="#" method="POST" id="contact-form">
                    <label class="kapcs-label" for="name">Név:</label>
                    <input class="form-inp" type="text" id="name" name="name" required autofocus>

                    <label for="email">Email:</label>
                    <input class="form-inp" type="email" id="email" name="email" required>

                    <label for="subject">Tárgy:</label>
                    <input class="form-inp" type="text" id="subject" name="subject">
                
                    <label for="message">Üzenet:</label>
                    <textarea class="form-inp" id="message" name="message" placeholder="Az üzenetét ide írja!" required></textarea>

                    <input type="submit" class="btn btn-primary" value="Küldés">
                </form>
            </div>
        </div>
        
    </section>

{% endblock %}