{% extends "default/layout.html" %}
{% load static %}

{% block title %} Kosár {% endblock %}

{% block body %}
    <section class="page-section">
        <div class="text-center">
            <h2 class="section-title">Kosár</h2>
            <p class="section-subtitle">Válogasson a kosarába tett termékek közül!</p>
        </div>
        <div class="kosar">
            {% for product in cart %}
                <div class="kosar-termek" id="product-{{ product.id }}">
                    <img src="{{ product.photo }}" alt="Termek">
                    <div class="termek-adatok">
                        <p>Kategória: {{ product.category }}</p>
                        <h2>{{ product.name }}</h2>
                    </div>
                    <h3><strong>{{ product.price }} Ft</strong></h3>
                    <p style="margin-right: 1rem"><input type="number" value="{{ product.quantity }}" min="1" style="width: 3rem"> db</p>
                    <a class="btn btn-danger">Eltávolítás</a>
                </div>
            {% endfor %}
            <div class="osszeg">
                <div class="osszegar">
                    <h2>Végösszeg:</h2>
                </div>
                <h2 style="margin-right: 1rem"><strong>{{ total_price }} Ft</strong></h2>
                <a href="{% url 'payment' %}" class="btn btn-primary">Fizetés</a>
            </div>
        </div>
    </section>
{% endblock %}