{% load static %}

<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>NetworkTech-Solutions - {% block title %}{% endblock %}</title>
        
        <!--Stylesheets-->
        <link href="{% static 'default/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        
        <!--Header-->
        <p>Fejléc</p>

        {# Main content for the page #}
        <main>
            {% block body %}
            {% endblock %}
        </main>
        
        <!--Footer-->
        <p>Lábléc</p>

        {# Add additional scripts for individual pages #}
        {% block scripts %}
        {% endblock %}
    </body>
</html>